.studentlogin-main{
    background: #5c6090;
    height:100vh;
    padding-top: 9%;
}
.student-login-card-heading{
    text-align: center;
}
.studentlogin-card{
    border: 2px solid #53d3d1;
    background-color:#23264b ;
    width: 30%;
    height: auto;
    margin: auto;
    border-radius: 8px;
    padding: 20px;
}
.studentlogin-card h4{
    color: yellow;
    font-weight: 800;
}
.student-login-form{
    /* background-color: red; */
    text-align: center;
}
.student-login-form input{
    background-color: transparent;
    border: 2px solid #53d3d1 !important ;
    margin-top: 20px;
    width: 60%;
    color: aliceblue;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
}
.studentlogin-card button{
    background-color: rgb(255, 225, 0);
    border: 2px solid #53d3d1 ;
    color: #2e3047;
    font-weight: 800;
    margin-top: 20px;
    padding: 5px 16px;
    border-radius: 5px;
}
.student-login-ihave-ac{
    text-align: center;
    margin-top: 20px;
}