.usr{
    text-align: center;
    font-size:22px;
    color: blue;
}
.studentreg-mainn{
    background: #fff;
    height: 100vh;
    padding-top: 1.5%;
    padding-bottom: 4%;
}
.student-reg-card-heading{
    text-align: center;
}
.studentreg-card{
    border: 2px solid #58082c;
    background-color:rgba(206, 252, 136, 0.981);
    width: 60%;
    height: auto;
    margin: auto;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 50px !important;
}
.studentreg-card h4{
    color: #58082c;
    font-weight: 800;
}
.student-reg-form{
    /* background-color: red; */
    text-align: center;
}
.student-reg-form input{
    background-color: transparent;
    border: 2px solid #063c3b !important ;
    margin-top: 13px;
    color: #58082c;
    width: 40%;
    margin-right: 10px;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
}
.batch-sem-at{
    width: 26.3% !important;
}
.student-reg-form select{
    background-color: transparent;
    border: 2px solid #58082c !important ;
    margin-top: 13px;
    color: #58082c;
    width: 40%;
    margin-right: 10px;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
}
.studentreg-card button{
    background-color: #490736;
    border: 2px solid #063332 ;
    color: #ffffff;
    font-weight: 800;
    margin-top: 14px;
    padding: 5px 16px;
    border-radius: 5px;
}
.internal{
    text-align: start;
    padding-left: 9%;
    margin-top: 7px;
    color: #052b2a;
}
.sub-mark{
    width: 10% !important;
    margin-left: 4px;
}
label{
    color: #083736;
}
.address{
    width: 81% !important;
}
.internal-mark{
    height: 60px;
    width: 81%;
    border-radius: 5px;
    margin: auto;
}
.file{
    border: 1px solid #2e3047 !important;
    padding: 4px;
}
.stude-dp img{
   width: 20%;
}